<ion-header>
	<ion-navbar >
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title (tap)="tapIonDate()">
		<ion-datetime
		displayFormat="MM-YYYY"
		pickerFormat="MMMM YYYY"
		[(ngModel)]="ion_Date"
		(ionChange)="changeData()"
		cancelText="Hủy"
		max="2050"
		doneText="Chọn"
		monthNames="Tháng một, Tháng hai, Tháng ba, Tháng tư, Tháng năm, Tháng sáu, Tháng bảy, Tháng tám, Tháng chín, Tháng mười, Tháng 11, Tháng 12">
		</ion-datetime>
		</ion-title>
		<ion-buttons right>
		<button ion-button (tap)="googleLogin()">
			<img src="assets/icon/refresh.png" height="30px;">
		</button>
	</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
<!-- <p>{{data_gg | json}}</p> -->
<!-- <p class="selectable">{{token}}</p> -->
<!-- <p>Event google: {{events_google | json}}</p> -->
	<div style="padding-top: 10px">
		<calendar [eventSource]="events_google"
		[queryMode]="calendar.queryMode"
		[calendarMode]="calendar.mode"
		[currentDate]="calendar.currentDate"
		[dateFormatter]="calendar.dateFormatter"
		(onCurrentDateChanged)="onCurrentDateChanged($event)"
		(onRangeChanged)="onRangeChanged($event)"
		(onEventSelected)="onEventSelected($event)"
		(onTitleChanged)="onViewTitleChanged($event)"
		(onTimeSelected)="onTimeSelected($event)"
		[monthviewEventDetailTemplate]="templateEvent"
		step="30">
	</calendar>
</div>
<ng-template #templateEvent let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
	<div class="container">
		<h2 class="text-red" *ngIf="selectedDate?.events.length > 0">Danh sách</h2>
		<ion-list class="calendar">
			<!-- <ion-item-sliding *ngFor="let item of selectedDate?.events" > -->
				<ion-item class="list-calendar" no-lines *ngFor="let item of selectedDate?.events">
					<div class="box-status box-status-{{item.color}}"></div>
					<p>
						<label>{{item.title}}</label>
					</p>
					<p>
						<img src="assets/icon/clock.png">{{item.startTime | date: 'dd/MM/yyyy HH:mm'}} - {{item.endTime | date: 'dd/MM/yyyy HH:mm'}}
					</p>
					<p><img src="assets/icon/place.png">{{item.location}}</p>
					<br>
					<p>{{item.description}}</p>
				</ion-item>
				<!-- <ion-item-options side="left" [style.width.%]="100">
					<div class="swip-btn">
						<button class="btn-blue" ion-button (tap)="detail(item)"><img src="assets/icon/detail.png" height="25px"></button>
					</div>
				</ion-item-options> -->
			<!-- </ion-item-sliding> -->
		</ion-list>
	</div>
</ng-template>
</ion-content>
